.App {
    background-color: #FCFFFE;
}

/* login */
#loginPhoto {
    width: 600px;
    height: 728px;
}

.loginLeft {
    float: left;
}

.loginRight {
    float: left;
    text-align: center;
    margin-left: 225px;
    margin-top: 125px;
}

.loginRightBackground {
    height: 450px;
    width: 400px;
    padding-top: 35px;
    background-color: #E9F5F7;
    border-radius: 6px;
}

#loginTitle {
    color: #3D5961;
    margin-bottom: 50px;
}

#loginInput {
    margin-bottom: 50px;
    font-size: 20px;
    color: #3D5961;
}

#loginButton {
    margin-top: 0px;
    margin-bottom: 10px;
}

#signupButton {
    background-color: #97B9C2;
    border: 0px;
}

#signupTitle {
    color: #3D5961;
    margin-left: 175px;
}

.signupInput {
    margin-top: 25px;
    margin-left: 120px;
    color: #3D5961;
}

#signupSubmit {
    background-color: #97B9C2;
    border: 0px;
    margin-left: 185px;
    margin-top: 25px;
    margin-bottom: 10px;
}

/* header */
#title {
    padding-top: 10px;
    color: #3D5961;
}

.titleContainer {
    height: 70px;
    background-color: #EDFBFF;
    padding-left: 25px;
}

.linksNavBar {
    list-style-type: none;
    height: 50px;
    background-color: #E9F5F7;
    padding-top: 10px;
    color: #30454D;
    margin-left: -20px;
}

.links {
    float: left;
    font-size: 20px;
    width: 100px;
}

.navText {
    color: #30454D;
}

.navText:hover {
    color: #385443;
}

.navText:active{
    color: #44805A;
}

.links:hover {
    background-color: #D8F6EC;
    height: 50px;
    margin-top: -10px;
    padding-top: 10px;
    width: 100px;
}

#homeLinkText {
    padding-left: 23px;
}

#interviewLinkText {
    padding-left: 10px;
}

#offerLinkText {
    padding-left: 25px;
}

#loggedInUsername {
    float: left;
    margin-left: 960px;
    padding-top: 4px;
}

#logoutButton {
    float: left;
    margin-left: 20px;
    background-color: #FCFFFE;
    border: 2px solid #55635A;
    transition-duration: 0.3s;
    border-radius: 4px;
}

#logoutButton:hover {
    background-color: #55635A;
    color: #FCFFFE;
}

/* home page */
.home {
    margin-top: 25px;
    text-align: center;
}

#homeTitle {
    margin-bottom: 25px;
    color: #30454D;
}

#jobsTable {
    width: 95%;
    margin-left: 35px;
    display: flex;
    flex-flow: column;
}

#jobsTableHeader {
    flex: 0 0 auto;
}

.jobsTableBody {
    flex: 1 1 auto;
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
}

#jobScroll {
    height: 400px;
    overflow: scroll;
}

.idCol {
    width: 70px;
}

#idRadio {
    margin-left: 15px;
    margin-top: 5px;
}

.dateCol {
    width: 120px;
}

#jobDateInput {
    width: 105px;
}

.statusCol {
    width: 100px;
}

#statusInput {
    width: 75px;
}

.applicationCol {
    width: 415px;
}

#applicationInput {
    width: 390px;
}

.companyCol {
    width: 200px;
}

#companyInput {
    width: 175px;
}

.descriptionCol {
    width: 225px;
}

#descriptionInput {
    width: 200px;
}

tr {
    width: 100%;
    display: table;
    table-layout: fixed;
}

.jobInput {
    width: 200px;
}

#jobActionButton {
    scale: 95%;
}

#jobActionButtonSmall {
    scale: 85%;
    margin-left: -5px;
}

/* add interview and add offer */
.addInterviewOffer {
    float: left;
    margin-left: 37px;
    margin-bottom: 15px;
}

#addIOButton {
    margin-right: 15px; 
    background-color: #A8BFB8;
    border: solid 1px #A8BFB8;
}

#addIOButtonGrey {
    margin-right: 15px; 
    background-color: #A4ABA9;
    border: solid 1px #A4ABA9;
}

#addInterviewTitle {
    margin-left: 150px;
}

.addInterviewInputContainer {
    margin-bottom: 25px;
    margin-left: 100px;
}

.addInterviewInput {
    margin-left: 10px;
}

#addInterviewDate {
    margin-top: 25px;
}

#addIOadd {
    background-color: #A8BFB8;
    border: solid 1px #A8BFB8;
}

#addOfferTitle {
    margin-left: 165px;
}

.addOfferInputContainer {
    margin-bottom: 15px;
    margin-left: 75px;
}

.addOfferInput {
    margin-left: 10px;
}

#addOfferSalary {
    margin-top: 10px;
}
